.content{
       color: rgb(0, 0, 0);
         
         text-align: center;
          
          line-height: 60px;
          text-decoration: none;
         
          transition: 0.5s;

          display: flex;
         /* -webkit-box-orient: horizontal;*/
         
            flex-flow: row wrap;
                  
          padding: 0;
  }